.perso {
  text-align: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 80%;

  h2 {
    font-size: 1rem;
  }

  th {
    font-size: 1rem;
    text-align: center;
  }

}
